*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    position:  initial;
    top: 10px;
    width: 75%;
    height: 50%;
    backdrop-filter:blur(10px);
    border-radius: 1em;
    box-shadow: 1px 1px 10px rgb(70, 171, 238);
    transition: all .3s ease-in-out;

}
ul>li{
    float: left;
    font-weight: bold;
    opacity: 0.9;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
   margin-right: 10px;
    position: relative;
    border-radius: 1px;
    justify-content: center;
    transition: all .3s ease-in-out;

}
nav ul{
    display: flex;
    gap: 1em;
}
nav ul li{
    list-style: none;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    gap: 1em;
    border-top: 1px;

}
nav ul li a:hover{
    color: rgb(21, 136, 21);
}
.logo{
    width: 3%;
    height: auto;
    border-radius: 50px;
}
.hero{
    max-width: 100%;
    width:100%;
    height: 120%;
    min-height:100vh;
    padding: 1em;
    background-image: url(montagne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(68, 15, 214, 0.4);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.text h1{
    color: #fff;
    font-size: 5em;
}
.text span{
    color: gold;
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes text{
    0%{color: darkcyan; }
    25%{color: yellow; }
    50%{color: lightgreen; }
    75%{ color: yellow;}
    95%{color: green;}
    100%{color: darkcyan;}
}
.text p{
    color: lightyellow;
    font-size: 1em;
}
.text button{
    padding: 0.8em 1.5em;
    margin: 2em 0 0 O ;
    background-color: darkcyan;
    border: none;
    border-radius: 50px;
    color: #fafafa;
    font-size:1.5em ;
    box-shadow: 1px 1px 3px darkcyan;
    transition: all .3s ease-in-out;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;


}
.text button:hover{
    box-shadow:none ;
    transform: scale(1.1);
}

     article>button{
    background-color: darkgreen;color: white;border: 2px;padding: 10px 20px;text-align: center;text-decoration: none; display: inline-block;font-size:16px;margin-top:10px;cursor: pointer;border-radius:5px;
}

.article>ul>li{
    float: left;
    font-weight: bold;
    opacity: 0.9;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
   margin-right: 10px;
    position: relative;
    border-radius: 1px;
    justify-content: center;
    transition: all .3s ease-in-out;
    list-style-type: none;

}

.catego {display:  flex;
    justify-content:center;
    color: white;
    margin-left: 30px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 20px;
    gap: 20px;
    position: relative;
    background-color: black;
    line-height: 50px;
}

.categories{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: midnightblue;
    text-decoration:  underline;
}
.product-grid {
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
    width: 600px;
    grid-template-columns: repeat(4);
    gap: 20px;

}
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    display:block ;
}
.product-info{
    margin-top: 10px;
    justify-content: center;
}
.product-card img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    margin-bottom:20px
    
    
}
.product-name {
    font-size: 1.1em;
    margin:  5px 0;
    
}
.product-price{
    font-weight: bold;
    color: #b12704;
    margin-bottom: 10px;
}
.buy-button{
    background-color:#111213;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.buy-button:hover{
    background-color: green;
}

.contact{
    display:block ;
    justify-content: center;
    margin-left: 30px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:20px ;
}

.nous{
    display: block;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color:black;
    margin-left: 5%;

}
